on:
    push:
        branches:
            - main
            - "release/**"
        paths:
            - "src/**"
            
    pull_request:
        branches:
            - main
            - "release/**"
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v6.0.2

            - name: Run  python tests
              run: python -m unittest discover -s tests
                
