name: Python Test

on:
  push:
    branches: [main, "release/**"]
    paths: ["src/**"]
  pull_request:
    branches: [main, "release/**"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run Python tests
        run: python3 src/test_app.py